<header>
  <h1>All Merchants</h1>
  <a href="/merchants/new"> Add another merchant</a>
</header>
<hr>

<table>
  <tr>
    <th> Name </th>
    <th> Image URL </th>
    <th> Active </th>
    <th> Edit </th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td>  <%= merchant.name %>  </td>
    <td>  <%= merchant.img_url %>  </td>
    <td>  <%= merchant.active %>  </td>
    <td> <a href="/merchants/<%=merchant.id%>"> Edit </a> </td>
  </tr>
  <% end %>
</table>
