<header>
  <h1  id = "transaction-header">All Merchants</h1>
  <a href="/merchants/new"> Add another merchant</a>
</header>
<hr>

<table class = "tracker-table">
  <tr>
    <th> Name </th>
    <th> Active </th>
    <th> Edit </th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td>  <%= merchant.name %>  </td>
    <td>  <%= merchant.active %>  </td>
    <td> <a href="/merchants/<%=merchant.id%>/edit"> Edit </a> </td>
  </tr>
  <% end %>
</table>
