<header>
  <h1>Add Merchant</h1>
</header>
<hr>

<form action="/merchants" method="post">

  <label>
    Name: <input type="text" name="name" value="">
  </label>
  <br>

  <label>
    Image URL: <input type="text" name="img_url" value="">
  </label>
  <br>

  <input class="btn btn--action" type='submit' value="add">

</form>
