 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Money Tracker</title>


</head>
<body>

  <!-- where is it best to have you nav tag -->
  <nav>
    <ul>
      <a href="/transactions">Transactions</a>
      <a href="/merchants">Merchants</a>
      <a href="/tags">Tags</a>
    </ul>
  </nav>

  <%= yield %>

  

</body>
</html>
