<header>
  <h1>All Tags</h1>
  <a href="/tags/new"> Add another tag</a>
</header>
<hr>

<table class = "tracker-table">

  <tr>
    <th> Name </th>
    <th> Active </th>
    <th> Edit </th>
  </tr>

  <% for tag in @tags %>
    <tr>
      <td>  <%= tag.name %>  </td>
      <td>  <%= tag.active %>  </td>
      <td> <a href="/tags/<%=tag.id%>/edit"> Edit </a> </td>
    </tr>
  <% end %>
  
</table>
